@import "utils/vars";
@import "components/header";
@import "components/mobile-window";
@import "components/buttons";
@import "components/about";
@import "components/footer";
@import "components/article";

body {
  color: $brand-color;
  background-color: $brand-bg-color;
  font-family: $font-primary;
  margin: 0 auto;
  overflow-x: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}

a {
  text-decoration: none;
  &:visited {
    color: $brand-color;
  }
  &:-webkit-any-link {
    color: $brand-color;
  }
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}
