.header {
  display: flex;
  align-items: center;
  color: #ebb222;
  background-color: #000000;
  border-bottom: 1px solid #4e3300; /* For Safari */
  position: sticky;
  top: 0;
  transition: all 0.5s ease;
  z-index: 1000;
}
.header__logo {
  width: 90px;
  padding: 10px;
  transition: width 0.5s ease;
}

.header--scrolled .header__logo {
  width: 70px;
}

.page-navigation {
  display: none;
}

@media screen and (min-width: 768px) {
  .header__logo {
    width: 140px;
  }
  .header--scrolled .header__logo {
    width: 90px;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    justify-content: space-between;
    font-size: 28px;
    padding: 0px 40px;
  }
  .header__logo {
    width: 150px;
  }
  .header__logo--transform {
    transition: transform 0.5s ease;
  }
  .header__logo--transform:hover {
    transform: scale(1.1);
  }
  .page-navigation {
    display: flex;
    list-style-type: none;
    line-height: 1.14rem;
  }
  .page-navigation--transform {
    padding: 10px;
    transition: transform 0.5s ease;
  }
  .page-navigation--transform:hover {
    transform: scale(1.05);
    text-decoration: underline;
  }
  .page-navigation__active {
    text-decoration: underline;
  }
  .page-navigation--transform {
    padding: 10px 25px;
  }
}
.menu-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000000;
  z-index: 999;
  text-transform: uppercase;
  text-align: center;
  transform: translateX(1000%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-container.is-open {
  transform: translateX(0);
}

.mobile__button {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: transparent;
  border: none;
  fill: #ebb222;
  color: #ebb222;
  font-size: 25px;
}

.mobile-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.mobile-menu {
  padding-top: 48px;
  font-size: 1.4em;
}
.mobile-menu--list:not(:nth-child(1)) {
  padding-top: 32px;
}

.mobile-social {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.mobile-social--svg {
  width: 44px;
  height: 44px;
}

@media screen and (min-width: 768px) {
  .mobile__button {
    top: 25px;
    right: 25px;
    font-size: 35px;
  }
  .mobile-social--svg {
    width: 55px;
    height: 55px;
  }
  .mobile-menu {
    font-size: 2em;
  }
  .mobile-menu--list:not(:nth-child(1)) {
    padding-top: 46px;
  }
}
@media screen and (min-width: 1200px) {
  .mobile__button {
    display: none;
  }
}
.hero {
  background-image: url("../images/room2.jpg");
  background-size: cover;
  background-position: 50% 50%;
  height: 500px;
}

.navigation-buttons {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.btn {
  position: relative;
  text-align: center;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 2rem;
  box-sizing: border-box;
}

.btn span {
  position: relative;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
}

.btn span:before {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  border-radius: 100%;
  border: 7px solid #ebb222;
  box-sizing: border-box;
  transition: all 0.85s cubic-bezier(0.25, 1, 0.33, 1);
  box-shadow: 0 30px 85px rgba(0, 0, 0, 0.14), 0 15px 35px rgba(0, 0, 0, 0.14);
}

.btn:hover span:before {
  transform: scale(0.8);
  box-shadow: 0 20px 55px rgba(0, 0, 0, 0.14), 0 15px 35px rgba(0, 0, 0, 0.14);
}

.btn .dots-container {
  opacity: 0;
  animation: intro 1.6s;
  animation-fill-mode: forwards;
}

.btn .dot {
  width: 8px;
  height: 8px;
  display: block;
  background-color: #ebb222;
  border-radius: 100%;
  position: absolute;
  transition: all 0.85s cubic-bezier(0.25, 1, 0.33, 1);
}

.btn .dot:nth-child(1) {
  top: 50px;
  left: 50px;
  transform: rotate(-140deg);
  animation: swag1-out 0.3s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.btn .dot:nth-child(2) {
  top: 50px;
  right: 50px;
  transform: rotate(140deg);
  animation: swag2-out 0.3s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.btn .dot:nth-child(3) {
  bottom: 50px;
  left: 50px;
  transform: rotate(140deg);
  animation: swag3-out 0.3s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.btn .dot:nth-child(4) {
  bottom: 50px;
  right: 50px;
  transform: rotate(-140deg);
  animation: swag4-out 0.3s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.btn:hover .dot:nth-child(1) {
  animation: swag1 0.3s;
  animation-fill-mode: forwards;
}

.btn:hover .dot:nth-child(2) {
  animation: swag2 0.3s;
  animation-fill-mode: forwards;
}

.btn:hover .dot:nth-child(3) {
  animation: swag3 0.3s;
  animation-fill-mode: forwards;
}

.btn:hover .dot:nth-child(4) {
  animation: swag4 0.3s;
  animation-fill-mode: forwards;
}

@keyframes intro {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes swag1 {
  0% {
    top: 50px;
    left: 50px;
    width: 8px;
  }
  50% {
    width: 30px;
    opacity: 1;
  }
  100% {
    top: 20px;
    left: 20px;
    width: 8px;
    opacity: 1;
  }
}
@keyframes swag1-out {
  0% {
    top: 20px;
    left: 20px;
    width: 8px;
  }
  50% {
    width: 30px;
    opacity: 1;
  }
  100% {
    top: 50px;
    left: 50px;
    width: 8px;
    opacity: 0;
  }
}
@keyframes swag2 {
  0% {
    top: 50px;
    right: 50px;
    width: 8px;
  }
  50% {
    width: 30px;
    opacity: 1;
  }
  100% {
    top: 20px;
    right: 20px;
    width: 8px;
    opacity: 1;
  }
}
@keyframes swag2-out {
  0% {
    top: 20px;
    right: 20px;
    width: 8px;
  }
  50% {
    width: 30px;
    opacity: 1;
  }
  100% {
    top: 50px;
    right: 50px;
    width: 8px;
    opacity: 0;
  }
}
@keyframes swag3 {
  0% {
    bottom: 50px;
    left: 50px;
    width: 8px;
  }
  50% {
    width: 30px;
    opacity: 1;
  }
  100% {
    bottom: 20px;
    left: 20px;
    width: 8px;
    opacity: 1;
  }
}
@keyframes swag3-out {
  0% {
    bottom: 20px;
    left: 20px;
    width: 8px;
  }
  50% {
    width: 30px;
    opacity: 1;
  }
  100% {
    bottom: 50px;
    left: 50px;
    width: 8px;
    opacity: 0;
  }
}
@keyframes swag4 {
  0% {
    bottom: 50px;
    right: 50px;
    width: 8px;
  }
  50% {
    width: 30px;
    opacity: 1;
  }
  100% {
    bottom: 20px;
    right: 20px;
    width: 8px;
    opacity: 1;
  }
}
@keyframes swag4-out {
  0% {
    bottom: 20px;
    right: 20px;
    width: 8px;
  }
  50% {
    width: 30px;
    opacity: 1;
  }
  100% {
    bottom: 50px;
    right: 50px;
    width: 8px;
    opacity: 0;
  }
}
@media screen and (max-width: 767px) {
  .btn {
    font-size: 1.6rem;
  }
  .btn span {
    width: 130px;
    height: 130px;
  }
  .btn span:before {
    border: 3px solid #ebb222;
  }
}
@media screen and (min-width: 768px) {
  .hero {
    height: 600px;
  }
  .btn span:before {
    border: 5px solid #ebb222;
  }
}
.about {
  margin: 35px 35px 0px;
}
.about__header {
  text-align: center;
}
.about--list {
  margin: 0px;
}
.about__paragraph {
  padding: 10px;
  font-size: 1.2em;
  line-height: 1.3em;
}
.about__photo {
  border-radius: 10%;
}

@media screen and (min-width: 768px) {
  .about {
    margin: 70px;
  }
  .about__header {
    font-size: 2em;
  }
  .about__paragraph {
    font-size: 1.6em;
    padding: 20px 10px;
  }
}
@media screen and (min-width: 1200px) {
  .about {
    display: flex;
    gap: 150px;
    padding-bottom: 100px;
    max-width: 1200px;
    margin: 0 auto;
    border-radius: 4px;
  }
  .about__photo {
    max-width: 450px;
  }
  .about__paragraph {
    padding: 0px;
    font-size: 1.75em;
  }
  li:nth-child(even) .about {
    flex-direction: row-reverse;
  }
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  text-align: center;
}
.footer--logo {
  width: 200px;
  padding: 15px;
}
.footer--logo img {
  transition: transform 0.5s ease;
}
.footer--logo img:hover {
  transform: scale(1.1);
}
.footer__header {
  font-size: 1.6rem;
  margin: 0px 0px 15px 0px;
  transition: transform 0.5s ease;
}
.footer__header:hover {
  transform: scale(1.05);
  text-decoration: underline;
}
.footer__contact {
  padding-bottom: 10px;
  transition: transform 0.5s ease;
}
.footer__contact:hover {
  transform: scale(1.05);
  text-decoration: underline;
}
.footer__address {
  margin: 0 0 15px;
}
.footer__icons {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.footer__svg {
  margin: 10px 8px 50px;
  width: 38px;
  height: 38px;
  transition: transform 0.5s ease;
}
.footer__svg:hover {
  transform: scale(1.15);
}

@media screen and (min-width: 768px) {
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-top: 1px solid #4e3300;
  }
  .footer--tablet {
    margin-top: 30px;
  }
  .footer--logo {
    width: 100%;
    max-width: 250px;
  }
  .footer__header {
    font-size: 1.8rem;
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    justify-content: space-evenly;
    align-items: center;
  }
  .footer--desktop {
    display: flex;
    align-items: baseline;
  }
  .footer__address {
    margin: 0 0 35px;
  }
  .footer__icons {
    flex-direction: column;
    padding-left: 50px;
  }
  .footer__svg {
    margin: 17px;
  }
}
.article {
  margin: 0 20px;
  font-size: 1.3em;
  line-height: 1.4em;
}
.article__photo {
  margin: 0 auto 70px;
  max-width: 90%;
}
.article__section {
  margin-bottom: 30px;
}
.article__paragraph {
  margin: 0 auto 20px;
  max-width: 80vw;
  text-align: center;
}

.events-article {
  margin: 0 auto;
  max-width: 80vw;
  font-size: 1.3em;
  line-height: 1.4em;
}

@media screen and (min-width: 768px) {
  .article {
    margin: 0 40px;
  }
  .article__photo {
    max-width: 80%;
  }
  .article__section {
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .article__photo {
    max-width: 70%;
  }
}
.form {
  display: flex;
  flex-direction: column;
  font-size: 1.4em;
  padding: 0px 20px;
  margin: 25px auto;
}
.form__label {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}
.form__input {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 5px 10px;
  margin-top: 5px;
  border: none;
}
.form__button {
  margin: 30px auto 0px;
  padding: 15px;
  background-color: #4e3300;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .form {
    max-width: 600px;
  }
}
@media screen and (min-width: 1200px) {
  .form {
    max-width: 900px;
  }
}
.gg-container {
  --main-color: #000;
  --secondary-color: #111;
  --txt-color: #fff;
  --img-bg-color: rgba(240, 240, 240, 0.9);
  --backdrop-color: rgba(240, 240, 240, 0.9);
  --gap-length: 8px;
  --row-height: 200px;
  --column-width: 220px;
}

.events {
  margin: 0 auto;
  width: 70vw;
}

.events.gg-box {
  grid-template-columns: 1fr 2fr;
  grid-auto-rows: 250px;
}

.gg-container *[data-theme=dark] {
  --main-color: #ddd;
  --secondary-color: #eee;
  --txt-color: #111;
  --img-bg-color: rgba(20, 20, 20, 0.9);
  --backdrop-color: rgba(30, 30, 30, 0.9);
}

.gg-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--column-width), 1fr));
  grid-auto-rows: var(--row-height);
  grid-gap: var(--gap-length);
  margin: 20px 0;
}

.gg-box img {
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
  width: 100%;
  height: 100%;
  background: var(--img-bg-color);
  transition: transform 0.5s ease;
}

.gg-box img:hover {
  opacity: 0.98;
  transform: scale(1.02);
}

.events .gg-box img:hover {
  transform: none;
  cursor: auto;
}

#gg-screen {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: var(--backdrop-color);
  z-index: 9999;
  text-align: center;
}

#gg-screen .gg-image {
  height: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

#gg-screen .gg-image img {
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
}

.gg-btn {
  width: 35px;
  height: 35px;
  background: var(--main-color);
  color: var(--txt-color);
  text-align: center;
  line-height: 35px;
  cursor: pointer;
  transition: all 0.4s ease;
  font-size: 20px;
  box-sizing: border-box;
  padding-left: 2px;
  position: fixed;
  bottom: 10px;
}

.gg-btn:hover {
  background: var(--secondary-color);
}

.gg-close {
  top: 10px;
}

.gg-close,
.gg-next {
  right: 10px;
}

.gg-prev {
  right: 50px;
}

.gg-prev,
.gg-next {
  bottom: 10px;
}

@media (min-width: 478px) {
  .gg-box img:nth-child(2n):not(:last-of-type) {
    grid-row-end: span 2;
  }
  [data-layout=horizontal] img:nth-child(2n):not(:last-of-type) {
    grid-column-end: span 2;
    grid-row-end: span 1;
  }
  [data-layout=square] img:nth-child(2n):not(:last-of-type) {
    grid-row-end: span 1;
    grid-column-end: span 1;
  }
}
@media (max-width: 768px) {
  .gg-box {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-auto-rows: calc(var(--row-height) - 15vh);
    margin: 10px 0;
  }
}
@media (max-width: 450px) {
  .events .gg-box {
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  }
}
.celebrations > :not(:first-child) {
  margin: 0 auto;
  max-width: 80vw;
  font-size: 1.2em;
  line-height: 1.4em;
  padding-bottom: 10px;
}

body {
  color: #ebb222;
  background-color: #000000;
  font-family: "Gistesy";
  margin: 0 auto;
  overflow-x: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}

a {
  text-decoration: none;
}
a:visited {
  color: #ebb222;
}
a:-webkit-any-link {
  color: #ebb222;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}/*# sourceMappingURL=main.css.map */