@import "utils/vars";
@import "components/header";
@import "components/mobile-window";
@import "components/offerButtons";
@import "components/about";
@import "components/footer";

body {
  color: $brand-color;
  background-color: $brand-bg-color;
  font-family: $font-primary;
  margin: 0 auto;
  overflow-x: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;

  &:visited {
    color: $brand-color;
  }
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}
