.about {
  margin: 35px;
  &__header {
    text-align: center;
  }
  &__paragraph {
    padding: 10px;
    font-size: 1.2em;
    line-height: 1.3em;
  }
  &__photo {
    border-radius: 10%;
  }
}

@media screen and (min-width: 768px) {
  .about {
    margin: 70px;
    &__header {
      font-size: 2em;
    }
    &__paragraph {
      font-size: 1.6em;
      padding: 20px 10px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .about {
    display: flex;
    gap: 150px;
    padding-bottom: 100px;
    max-width: 1200px;
    margin: 0 auto;
    border-radius: 4px;
    &__photo {
      max-width: 450px;
    }
    &__paragraph {
      padding: 0px;
      font-size: 1.75em;
    }
  }

  li:nth-child(even) .about {
    flex-direction: row-reverse;
  }
}
