.article {
  margin: 0 20px;
  font-size: 1.3em;
  line-height: 1.4em;
  &__photo {
    margin: 0 auto 70px;
    max-width: 90%;
  }
  &__section {
    margin-bottom: 30px;
  }
  &__paragraph {
    margin: 0 auto 20px;
    max-width: 80vw;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .article {
    margin: 0 40px;
    &__photo {
      max-width: 80%;
    }
    &__section {
      margin-bottom: 50px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .article {
    &__photo {
      max-width: 70%;
    }
  }
}
