.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(12, 12, 13, 0.3)),
    url("../images/couple.jpg");
  background-size: cover;
  height: 500px;
}

.navigation-buttons {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.button {
  display: inline-block;
  border: 2px solid $brand-color;
  border-radius: 10px;
  padding: 10px 20px;
  letter-spacing: 1px;
  font-size: 1.5rem;
  text-decoration: none;
  transition: 0.3s;
}

.button:hover {
  background: $brand-color;
  color: #000;
}

@media screen and (min-width: 768px) {
  .navigation-buttons {
    flex-direction: row;
  }
  .button {
    font-size: 1.8rem;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-position: 30% 30%;
  }
  .button {
    font-size: 2.1rem;
  }
}
