.header {
  display: flex;
  align-items: center;
  color: $brand-color;
  background-color: $brand-bg-color;
  border-bottom: 1px solid $brand-text-color;
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  top: 0;
  transition: all 0.5s ease;
  z-index: 1000;
  &__logo {
    width: 90px;
    padding: 10px;
    transition: width 0.5s ease;
  }
}

.header--scrolled .header__logo {
  width: 70px;
}

.page-navigation {
  display: none;
}

@media screen and (min-width: 768px) {
  .header {
    &__logo {
      width: 140px;
    }
  }

  .header--scrolled .header__logo {
    width: 90px;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    justify-content: space-between;
    font-size: 28px;
    padding: 0px 40px;
    &__logo {
      width: 150px;
      &--transform {
        transition: transform 0.5s ease;

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }

  .page-navigation {
    display: flex;
    list-style-type: none;
    line-height: 1.14rem;
    &--transform {
      padding: 10px;
      transition: transform 0.5s ease;

      &:hover {
        transform: scale(1.05);
        text-decoration: underline;
      }
    }
    &__active {
      text-decoration: underline;
    }
  }

  .page-navigation {
    &--transform {
      padding: 10px 25px;
    }
  }
}
