.header {
  display: flex;
  align-items: center;
  color: $brand-color;
  background-color: $brand-bg-color;
  border-bottom: 1px solid $brand-text-color;
  &__logo {
    width: 80px;
  }
}

.page-navigation {
  display: none;
}

@media screen and (min-width: 481px) {
  .header {
    justify-content: space-around;
    font-size: 24px;
    &__logo {
      width: 140px;
    }
  }

  .page-navigation {
    display: flex;
    list-style-type: none;
    line-height: 1.14rem;
    &--transform {
      padding: 10px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .header {
    justify-content: space-between;
    font-size: 32px;
    padding: 0px 40px;
    &__logo {
      width: 200px;
    }
  }

  .page-navigation {
    &--transform {
      padding: 10px 25px;
    }
  }
}
