.button {
  display: block;
  margin: 20px auto;
  padding: 20px;
  background-color: $brand-text-color;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 20px;
}

.navigation-buttons {
  display: flex;
  justify-content: space-evenly;
}

@media screen and (min-width: 768px) {
  .button {
    padding: 50px;
    font-size: 40px;
  }
}

@media screen and (min-width: 1200px) {
  .button {
    padding: 70px;
    font-size: 60px;
  }

  .navigation-buttons {
    margin: 155px 0px;
  }
}
